<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />
    <link rel="stylesheet" type="text/css" href="styles/demo.css" />
    <link rel="stylesheet" type="text/css" href="styles/component.css" />
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="wikiSearchApp">

  <div class="container" ng-controller="MainCtrl">
    <div id="morphsearch" class="morphsearch">
      <form class="morphsearch-form" ng-submit="search()">
        <input class="morphsearch-input" type="search" placeholder="Search..." ng-model="query" ng-change="search()">
        <button class="morphsearch-submit" type="submit">Search</button>
      </form>
      <div class="morphsearch-content">
        <div class="dummy-column">
          <h2 ng-if="recentStatus">Recent searches</h2>

          <div class="error" ng-if="error">
            <h2>Sorry, your query is not found:(</h2>
          </div>
          <!-- /.error -->

          <div class="page" ng-repeat="page in pages" ng-if="!error">
            <a class="dummy-media-object" target="_blank" href="https://en.wikipedia.org/?curid={{page.pageid}}">
              <img ng-src="{{page.thumbnail.source || page.thumbnail}}" alt="thumbnail"/>
              <h3>{{page.title}}</h3>
              <p>{{page.extract}}</p>
            </a>
          </div>
          <!-- /.page -->
        </div>
      </div><!-- /morphsearch-content -->
      <span class="morphsearch-close" ng-click="recent()"></span>
    </div><!-- /morphsearch -->
    <header class="codrops-header">
      <h1>Wiki Search <span>Real time wiki API search</span></h1>
    </header>
    <div class="overlay"></div>
  </div><!-- /container -->
  <script src="scripts/classie.js"></script>
  <script>
    (function() {
      var morphSearch = document.getElementById( 'morphsearch' ),
              input = morphSearch.querySelector( 'input.morphsearch-input' ),
              ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
              isOpen = isAnimating = false,
      // show/hide search area
              toggleSearch = function(evt) {
                // return if open and the input gets focused
                if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

                var offsets = morphsearch.getBoundingClientRect();
                if( isOpen ) {
                  classie.remove( morphSearch, 'open' );

                  // trick to hide input text once the search overlay closes
                  // todo: hardcoded times, should be done after transition ends
                  if( input.value !== '' ) {
                    setTimeout(function() {
                      classie.add( morphSearch, 'hideInput' );
                      setTimeout(function() {
                        classie.remove( morphSearch, 'hideInput' );
                        input.value = '';
                      }, 300 );
                    }, 500);
                  }

                  input.blur();
                }
                else {
                  classie.add( morphSearch, 'open' );
                }
                isOpen = !isOpen;
              };

      // events
      input.addEventListener( 'focus', toggleSearch );
      ctrlClose.addEventListener( 'click', toggleSearch );
//      ctrlClose.addEventListener('click', function () {
//        var targetTxt = document.getElementById('recent-search');
//        classie.remove(targetTxt, 'hide');
//      });
      // esc key closes search overlay
      // keyboard navigation events
      document.addEventListener( 'keydown', function( ev ) {
        var keyCode = ev.keyCode || ev.which;
        if( keyCode === 27 && isOpen ) {
          toggleSearch(ev);
        }
      } );


//      /***** for demo purposes only: don't allow to submit the form *****/
//      morphSearch.querySelector( 'button[type="submit"]' ).addEventListener( 'click', function(ev) { ev.preventDefault(); } );
    })();
  </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/wikidata.js"></script>
        <!-- endbuild -->
</body>
</html>
