<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wikipedia Viewer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="wikiSearchApp">

  <div class="container" ng-controller="MainCtrl">
      <div class="search-title">
        <h1>Wikipedia Search</h1>
      </div>
      <div id="search" class="search">
        <form class="search-form" ng-submit="search()">
          <input class="search-input" type="search" placeholder="Search..." ng-model="query" ng-change="search()">
          <button class="search-submit" type="submit">Search</button>
        </form>
        <div class="search-content">
          <div class="content-wrap">
            <h2 ng-if="recentStatus">Recent searches</h2>

            <div class="error" ng-if="error">
              <h2>Oops! That page couldn`t be found.</h2>
            </div>
            <!-- /.error -->

            <div class="page" ng-repeat="page in pages" ng-if="!error">
              <a class="page-media" target="_blank" href="https://en.wikipedia.org/?curid={{page.pageid}}">
                <img ng-src="{{page.thumbnail.source || page.thumbnail}}" alt="thumbnail" >
                <h2>{{page.title}}</h2>
                <p>{{page.extract}}</p>
              </a>
            </div>
            <!-- /.page -->
          </div>
        </div><!-- /.search-content -->
        <span class="search-close" ng-click="recent()"></span>
      </div><!-- /.search -->
      <div class="overlay"></div>
  </div><!-- /.container -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/animation.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/wikidata.js"></script>
        <!-- endbuild -->

</body>
</html>
